.chat-container {
  height: 100vh;
  width: 90%;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.chat-body {
  padding: 0 10px;
  height: calc(100% - 70px);
  overflow-y: scroll;
  color: #000;
  display: flex;
  flex-direction: column;
}

.message-container {
  max-width: 250px;
  width: fit-content;
  background-color: lightgrey;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 7px;
  align-self: start;
}

.message-mine {
  align-self: end;
  background-color: skyblue;
}

.chat-footer {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: end;
  bottom: 0;
  height: 50px;
}

.tela-cheia {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-lateral {
  width: 20%;
  height: 100vh;
  background-color: red;
}

.typing-notification {
  color: #000;
  font-size: 16px;
  margin-left: 10px;
}
